<h2 class="mb-3">Your are about to begin the survey!</h2>
<p>You will be presented with a few questions in order to determine what areas of the
  Information Techonolgy and Communications industry are of interest to you.</p>

<p>Based on your answers, a more elaborate survey will be dynamically generated
  in order to assess your abilities and skills. Following the completion of this survey, a personalized
  recommendation will be presented to you on the results page.</p>

<p>Please make sure to answer all the questions by selecting a value from 1 to 5.</p>

<a routerLink="pre-survey" class="btn btn-xl btn-primary mb-2 margin-btn">Begin survey 🏁</a>
<a routerLink="../results" class="btn btn-xl btn-success mb-2">Go to results 📈</a>
