<div class="p-4">
    <div class="container">
        <h1>Hi {{user?.firstName}}! 👋</h1>
        <p>Welcome to the SDCT app!</p>
        <p>SDCT is an innovative web application that assesses your strengths and recommends the ideal working position for you. Our platform combines precision assessment with personalized guidance to help you make informed career decisions.</p>
        <p>Learn more about SDCT and how we can transform your career prospects on our <a routerLink="/about">About Page</a>.</p>
        <p>Ready to begin your journey? Start the Quiz!</p>
        <a routerLink="survey" class="btn btn-xl btn-primary mb-2">Take me to the survey 📄</a>
    </div>
</div>
